/* -----------------------------------------
:: call to action styles
----------------------------------------- */
.cta-heading {
	font-size: 100%;
}
.cta-button {
	font-size: 100%;
}
.cta-1 {
	font-family: 'bebasregular', sans-serif;
	color: #222222;
	font-size: 120%;
	text-shadow: 3px 3px 3px rgba(255,255,255,0.9);
}

.call-to-action h3 {
}
/* -----------------------------------------
:: MOBILE STYLES PHONE PORTRAIT AND LANDSCAPE
----------------------------------------- */
@media screen and (min-width: 0px) and (max-width: 767px) {
.cta-heading, .cta-heading h3 {
	font-size: 90%;
}
.cta-1 {
	color: #222222;
	font-size: 120%;
}

}
